
<div class="container">
    <h4>CRUD</h4>
</div>

<div class="container">
    <button class="btn btn-primary btn-md" routerLink="/read">Get All States</button>
</div>

<div class="container ">
    <button class="btn btn-primary btn-md" routerLink="/getstate">Get State By ID</button>
</div>

<div class="container ">
    <button class="btn btn-primary btn-md" routerLink="/insert">Insert State </button>
</div>

<div class="container ">
    <button class="btn btn-primary btn-md" routerLink="/state-country">States By Country Name </button>
</div>

<div class="container">
    <button class="btn btn-danger btn-md" (click)="onClick2()">LogOut</button>
</div>